@use "../../colors.scss" as *;

.worlds_page {
	height: 100%;
	display: flex;
}

.sidebar {
	display: flex;
	flex-direction: column;
	width: 20%;
	background-color: $bg-light;
	overflow-y: scroll;

	&:hover .plus_icon_container {
		opacity: 1;
	}
}

.mainframe {
	display: flex;
	justify-content: center;
	flex: 1;
}

.plus_icon_container {
	height: 7%;
	opacity: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		display: block;
		height: 60%;
		width: auto;
		cursor: pointer;
	}
}