@use "../../colors.scss" as *;

.worlds_page {
	height: 100%;
	display: flex;
}

.sidebar {
	width: 20%;
	background-color: $bg-light;
	overflow-y: scroll;
}

.mainframe {
	display: flex;
	justify-content: center;
	flex: 1;
}