@use "../../global.scss" as *;

.navbar {
    height: 8%;
    background-color: $bg-light;
    border-bottom: 5px solid $border;
    font-size: 1.5em;

    display: flex;
    column-gap: 2%;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.icon {
    max-height: 100%;
    width: auto;
}

.about {
    margin-right: auto;
}

.title {
    font-weight: 300;
    font-size: 3em;
}