@use "../../../colors.scss" as *;

.world_entry {
	margin: 3%;
	padding: 2%;

	background-color: $secondary;
	border-radius: 5px;

	display: flex;
	align-items: center;

	&.selected {
		border: ridge 5px $primary;
	}
}

.world_name {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
}

.three_dots {
	width: 1em;
	height: 1em;
	opacity: 0;

	&:hover {
		opacity: 1;
	}
}