@use 'sass:color';
@use "../../../../colors.scss" as *;

.row {
	&:hover {
		background-color: color.adjust($color: $secondary, $lightness: 25%);
	}
}

.dimension_icon {
	width: 60%;
}

.buttons {
	display: flex;
	flex-direction: column;
}