@use 'sass:color';
@use "../../../../colors.scss" as *;

.dimension_icon {
	width: 60%;
}

.buttons {
	display: flex;
	flex-direction: column;
	padding: 0.1rem;
}

.button {
	padding: 0.3rem;
	opacity: 0;
	cursor: pointer;

	&.pinned {
		opacity: 0.3;
	}

	&.delete_button:hover {
		filter: invert(19%) sepia(83%) saturate(5451%) hue-rotate(0deg) brightness(92%) contrast(103%);
	}
}

.row:hover {
	background-color: color.adjust($color: $secondary, $lightness: 25%);

	.button:not(.pinned) {
		opacity: 1;
	}
}