@use "../../colors.scss" as *;

@mixin input_color($color) {
	border-color: $color;
}

.input {
	font-size: 1em;
	padding: .33em;

	border-radius: 20px;
	border-width: 3px;
	border-style: groove;
	outline: none;

	&.primary {
		@include input_color($primary);
	}

	&.secondary {
		@include input_color($secondary);
	}

	&.accent {
		@include input_color($accent);
	}
	
	&::placeholder {
		color: lightgray;
	}

	&:focus::placeholder {
		opacity: 0;
	}
}