.landing_page {
	margin: 3%;
	text-wrap-style: balance;
}

.headline {
	font-size: 7em;
	font-weight: 600;
}

.subtext {
	font-size: 2em;
	font-weight: 400;
}

.buttons {
	display: flex;
	gap: 2%;
	margin: 3% 0;
	font-size: 5em;
}